html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

#simulation {
	border: 1px solid #000000;
}

.sim-btn {
  	opacity: 0.2;
  	transition: 0.3s;
  	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	}
	
.sim-btn:hover {opacity: 1}

#play-btn {
	position: absolute;
	top: 20px;
	left: 20px;
	background: rgb(28, 184, 65);
}

#next-act-btn {
	position: absolute;
	top: 20px;
	left: 90px;
	background: rgb(66, 184, 221);
}

#next-mnt-btn {
	position: absolute;
	top: 20px;
	left: 216px;
}

#reset-btn {
	position: absolute;
	top: 20px;
	left: 351px;
	background: rgb(202, 60, 60);
}

#time-indicator {
	position: absolute;
	top: 20px;
	left: 450px;
}
